<div class="bjui-pageContent tableContent">
    <form action="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
<tr><td colspan=2><label for='keyword_input' class='control-label x85'>关键词:</label><input type='text' id='keyword' name='keyword' data-rule='required;' size='20'   value='{$Rs.keyword}'  ></td></tr>
<Tr><td colspan=2><label for='type_input' class='control-label x85'>回复类型:</label><volist name='Think.config.REPLAY_TYPE' id='type'><input type='radio'  name='type' data-toggle='icheck'  data-label='{$type}' value='{$type}' <if condition=" $type EQ $Rs['type'] " >checked data-rule='checked'</if> ></volist></td></tr>
<tr><td colspan=2><label for='title_input' class='control-label x85'>文字内容:</label><textarea name='title'  cols='65' rows='5' >{$Rs.title}</textarea></td></tr></tr>
<tr><td colspan=2 ><div style="font-size:18px;padding:10px">回复类型，选择图文时，填写以下内容</div></td><tr>
<tr><td colspan=2><label for='biaoti_input' class='control-label x85'>图文标题:</label><input type='text' id='biaoti' name='biaoti'  size='20'   value='{$Rs.biaoti}'  ></td></tr>
<tr><td colspan=2><label for='url_input' class='control-label x85'>链接网址:</label><input type='text' id='url' name='url'  size='20'   value='{$Rs.url}'  ></td></tr>
<tr><td colspan=2><label for='content_input' class='control-label x85'>图文简介:</label><textarea name='content'  cols='65' rows='5' >{$Rs.content}</textarea></td></tr></tr>
<tr><td colspan=2><label for='attid_input' class='control-label x85'>图文图片:</label><div style='display: inline-block; vertical-align: middle;'><IFRAME   src='__MODULE__/Public/attfile/attid/{$attid}/'  frameBorder=0 width='100%' height='30' scrolling=no ></IFRAME><input type='hidden' id='attid' name='attid'  value='{$attid}'  ><a href='__MODULE__/Public/uploads/attid/{$attid}/'   class='btn btn-green btn-sm' data-toggle='dialog' data-width='550' data-height='300' data-id='dialog-normal' data-mask='true' >已上传文件管理</a></div></td></tr>
           </tbody>
          </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>