<div class="bjui-pageContent tableContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='keyword_input' class='control-label x85'>关键词:</label>{$Rs.keyword}</td></tr>
<tr><td><label for='type_input' class='control-label x85'>回复类型:</label>{$Rs.type}</td><td><label for='biaoti_input' class='control-label x85'>图文标题:</label>{$Rs.biaoti}</td></tr>
<tr></tr>
<tr></tr>
<tr><td><label for='url_input' class='control-label x85'>链接网址:</label>{$Rs.url}</td><td><label for='uname_input' class='control-label x85'>添加人:</label>{$Rs.uname}</td></tr>
<tr><td><label for='addtime_input' class='control-label x85'>添加时间:</label>{$Rs.addtime}</td><td><label for='uuname_input' class='control-label x85'>更新人:</label>{$Rs.uuname}</td></tr>
<tr><td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td></tr>
<tr><td colspan=2><label for='title_input' class='control-label x85'>文字内容:</label><div style='display: inline-block; vertical-align: middle;'>{$Rs.title}</div></td></tr></tr>
<tr><td colspan=2><label for='content_input' class='control-label x85'>图文简介:</label><div style='display: inline-block; vertical-align: middle;'>{$Rs.content}</div></td></tr></tr>
<tr><td colspan=2><label for='attid_input' class='control-label x85'>图文图片:</label>
			<php>$attlist=M('files')->where('attid='.$Rs['attid'].' and status=1')->order('id desc')->select();</php>	
	         <foreach name='attlist' item='vf'>{$vf['uid']|truename=###}:<a href='__ROOT__/{$vf['folder']}{$vf['filename']}' target=_blank>{$vf['filedesc']}</A>&nbsp;&nbsp;{$vf['addtime']}<Br/><label  class='control-label x85'></label></foreach></td></tr>
           </tbody>
          </table>
        </div>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>