<div class="bjui-pageContent tableContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='openid_input' class='control-label x85'>OPENID:</label>{$Rs.openid}</td></tr>
<tr><td><label for='nickname_input' class='control-label x85'>昵称:</label>{$Rs.nickname}</td><td><label for='sex_input' class='control-label x85'>性别:</label>{$Rs.sex}</td></tr>
<tr><td><label for='fenlei_input' class='control-label x85'>分类:</label>{$Rs.fenlei}</td><td><label for='addtime_input' class='control-label x85'>关注时间:</label>{$Rs.addtime}</td></tr>
<tr><td><label for='uuname_input' class='control-label x85'>更新人:</label>{$Rs.uuname}</td><td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td></tr>
<tr>
           </tbody>
          </table>
        </div>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>