<extend name="base" />
<block name="main">



<div class="orderDet_list2">
        <dl>
            <dt>预约记录</dt>
			<volist id="v" name="list">
			 <dd>
                <span class="current"></span>
                <strong>
                    <b>{$v.title}</b>
					会员：{$v.xingming}<Br/>
					店铺：{$v.shopid|get_shop_name=###}<Br/>
					被约：{$v.juname}<Br/>
                    时间：{$v.yytime}<br/>
					添加：{$v.addtime}
                </strong>
            </dd>

         </volist>
           
            
        </dl>
 </div>

</block>