<div class="bjui-pageHeader">
<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__/yue" method="post">
	
	<input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
	 
        <div class="bjui-searchBar">
            <label>关键词：</label><input type="text" value="{$_REQUEST['keys']}" name="keys" class="form-control" size="12" />
			<label>店铺：</label>
			<select  name="shopid" data-toggle="selectpicker">
             <option  value="">全部</option>
			 <php>$slist=M('shop')->select();</php>
	         <foreach name="slist" item="v">
             <option <if condition="$v.id EQ $_REQUEST['shopid'] ">selected value="{$_REQUEST['shopid']}" <else/>value="{$v.id}"</if> >
	         <switch name="v.level">  <case value="0">+</case> <case value="1">+--</case><case value="2">+------</case><default /></switch>
	         {$v.title}
	          </option>
              </foreach>
             </select>
             <button type="submit"  class="btn-default" data-icon="search">查询</button>
              <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
			  <php>if(display(CONTROLLER_NAME.'/outxls')){</php><span style="float:right;margin-right:5px;"><a href="__URL__/outxls" class="btn btn-blue" data-toggle="doexport" data-confirm-msg="确定要导出吗？" data-icon="arrow-up">导出</a></span><php>}</php>
		</div> 
</form>
    
</div>
<div class="bjui-pageContent tableContent">
     <table data-toggle="tablefixed" data-width="100%" data-layout-h="0" data-nowrap="true">
        <thead>
            <tr>
            <th width="10" height="30"></th>
<th data-order-direction='desc' data-order-field='id'>ID</th>
<th data-order-direction='desc' data-order-field='kahao'>卡号</th>
<th>姓名</th>
<th data-order-direction='desc' data-order-field='sex'>性别</th>
<th>联系电话</th>
<th data-order-direction='desc' data-order-field='dengji'>会员等级</th>
<th data-order-direction='desc' data-order-field='shengri'>会员生日</th>
<th data-order-direction='desc' data-order-field='zhuangtai'>会员状态</th>
<th data-order-direction='desc' data-order-field='jifen'>会员积分</th>
<th data-order-direction='desc' data-order-field='jine'>会员余额</th>
<th data-order-direction='desc' data-order-field='xiaofei'>历史消费</th>
<th data-order-direction='desc' data-order-field='jici'>计次</th>
<th data-order-direction='desc' data-order-field='addtime'>添加时间</th>
<th data-order-direction='desc' data-order-field='updatetime'>消费时间</th>
<php>if(display(CONTROLLER_NAME.'/view')){</php><th width="40">详细</th><php>}</php>
            </tr>
        </thead>
        <tbody>

          <volist id="v" name="list">
          <tr>
		   <td></td>
<td>{$v.id}</td>
<td>{$v.kahao}</td>
<td>{$v.xingming|msubstr=###,0,20}</td>
<td>{$v.sex}</td>
<td>{$v.dianhua|msubstr=###,0,20}</td>
<td>{$v.dengji}</td>
<td>{$v.shengri|substr=###,0,10}</td>
<td>{$v.zhuangtai}</td>
<td>{$v.jifen}</td>
<td>{$v.jine}</td>
<td>{$v.xiaofei}</td>
<td>{$v.jici}</td>
<td>{$v.addtime|substr=###,0,10}</td>
<td>{$v.updatetime|substr=###,0,10}</td>
<php>if(display(CONTROLLER_NAME.'/view')){</php><td><a href="__URL__/view/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"  data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" >详细</a></td><php>}</php>

		   </td>
         </tr> 
          </volist>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
        <div class="pages">
            <span>共 {$totalCount} 条  每页 {$numPerPage} 条</span>
        </div>
	    <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$numPerPage}" data-page-current="{$currentPage}">
        </div>
</div>