<div class="bjui-pageHeader">
<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
	
	<input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
	 
        <div class="bjui-searchBar" style="height:80px;line-height:80px;font-size:18px;">
            请输入卡号/联系电话：<input type="text" value="{$_REQUEST['keys']}" name="keys" class="form-control" size="20" />
             <button type="submit"  class="btn-default" data-icon="search">查询</button>
              <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
		</div> 
</form>
    
</div>
<div class="bjui-pageContent tableContent"><php>$rand_str=mt_rand(1000,9999);</php>
<form action="__URL__/jiesuanok/navTabId/{:CONTROLLER_NAME}" class="pageForm" id="form{$rand_str}" data-toggle="validate">
<input type="hidden" name="hid" value="{$Rs.id}">
<input type="hidden" name="did" value="{:I('did')}">
<input type="hidden" name="kahao" value="{$Rs.kahao}">
<input type="hidden" name="xingming" value="{$Rs.xingming}">
<php>if(!$Rs['shopid']){echo '<Tr><Td colspan=2>对不起，没有查找该会员</td></tr>'; }else{</php>
<table class="table table-bordered table-hover table-striped" >
<tr><td><label for='shopid_input' class='control-label x85'>所属店铺:</label>{$Rs.shopid|get_shop_name=###}</td><td><label for='kahao_input' class='control-label x85'>卡号:</label>{$Rs.kahao}</td></tr>
<tr><td><label for='xingming_input' class='control-label x85'>姓名:</label>{$Rs.xingming}</td><td><label for='sex_input' class='control-label x85'>性别:</label>{$Rs.sex}</td></tr>
<tr><td><label for='dianhua_input' class='control-label x85'>联系电话:</label>{$Rs.dianhua}</td><td><label for='dengji_input' class='control-label x85'>会员等级:</label>{$Rs.dengji}</td></tr>
<tr><td><label for='dizhi_input' class='control-label x85'>联系地址:</label>{$Rs.dizhi}</td><td><label for='zhuangtai_input' class='control-label x85'>会员状态:</label>{$Rs.zhuangtai}</td></tr>
<tr><td><label for='jifen_input' class='control-label x85'>会员积分:</label>{$Rs.jifen}</td><td><label for='jine_input' class='control-label x85'>会员余额:</label>{$Rs.jine}</td></tr>
<tr><td><label for='jici_input' class='control-label x85'>计次:</label>{$Rs.jici}</td><td><label for='jztime_input' class='control-label x85'>过期时间:</label>{$Rs.jztime}</td></tr>
<tr><td><label for='tjr_input' class='control-label x85'>办卡时间:</label>{$Rs.addtime}</td><td><label for='juname_input' class='control-label x85'>办卡人:</label>{$Rs.uname}</td></tr>

<Tr><Td colspan=2 style="font-size:20px;line-height:40px;text-align:center">商品消费</td></tr>
</table>
<php>
$zhekou=M('dengji')->where(array('title'=>$Rs['dengji']))->getField('zhekou');
$bili=M('dengji')->where(array('title'=>$Rs['dengji']))->getField('bili');
</php>
<script type="text/javascript">
 function js{$rand_str}(a)
 {
 document.getElementById("jsxiaoji"+a).value=document.getElementById("num"+a).value*document.getElementById("index["+a+"].zjiage").value;
 document.getElementById("jifen"+a).value=document.getElementById("jsxiaoji"+a).value*{$bili}; 
 var count = 0;
                // 遍历所有文本框
                var list = document.getElementsByTagName("input");
                for(var i = 0; i < list.length; i++) {
                    var name = list[i].getAttribute("name");
                    // 忽略不是xiaoji开头的
                    if (!/^jsxiaoji/.test(name)) continue;
                    var num = parseFloat(list[i].value);
                    // 如果不是数字则忽略
                    if (isNaN(num)) continue;
                    count += num;
                }
  document.getElementsByName("jine")[0].value = count;
 return js1{$rand_str}();
 } 
 function js1{$rand_str}(){
 var e0=document.getElementById("yue").value;
 var e1=document.getElementById("xianjin").value;
 var e2=document.getElementById("pos").value;
 var e3=document.getElementById("shishou").value;
 var e4=document.getElementById("jine").value;
 var e5=document.getElementById("kayue").value;
 var e6=document.getElementById("jian").value;
 if(parseFloat(e5)>=parseFloat(e4)){
 document.getElementById("yue").value=document.getElementById("jine").value;
 }else{
 document.getElementById("yue").value=document.getElementById("kayue").value;
 }
 document.getElementById("shishou").value=parseFloat(e0)+parseFloat(e1)+parseFloat(e2)+parseFloat(e6); 
  document.getElementById("zhaoling").value=parseFloat(e3)-parseFloat(e4);
 }
 </script>
<table class="table table-bordered table-hover table-striped" >
<Tr><Td width="30%">
<php>$drs = M('xiaofei')->where(array("id"=>I('did')))->find();</php>
<input type="hidden" name="danhao" value="{$drs.danhao}">
<Table width="100%">
<Tr><Td><label  class='control-label x85'>应付金额:</label><input type='text' id='jine' name='jine' readonly size='10'  value='{$drs.jine}'  >元<input type="hidden" id="kayue" name="kayue" value="{$Rs.jine}"></td></tr>
<Tr><Td><label  class='control-label x85'>优惠抹零:</label><input type='text' id='jian' name='jian'  size='10' onblur="js1{$rand_str}()" onchange="js1{$rand_str}()" value='0'   data-rule='required;number' >元  如果使用优惠券等，填写此项</td></tr>
<Tr><Td><label  class='control-label x85'>余额支付:</label><input type='text' id='yue' name='yue'  size='10' onblur="js1{$rand_str}()" onchange="js1{$rand_str}()" value='0'  data-rule='required;number'  >元,如果用余额结算，填写此项</td></tr>
<Tr><Td><label  class='control-label x85'>现金支付:</label><input type='text' id='xianjin' name='xianjin'  size='10' onblur="js1{$rand_str}()" onchange="js1{$rand_str}()"  value='0'  data-rule='required;number'  >元,如果用现金结算，填写此项</td></tr>
<Tr><Td><label  class='control-label x85'>银联支付:</label><input type='text' id='pos' name='pos'  size='10' onblur="js1{$rand_str}()" onchange="js1{$rand_str}()"  value='0'  data-rule='required;number'  >元 如果用银联结算，填写此项</td></tr>
<Tr><Td><label  class='control-label x85'>实际收款:</label><input type='text' id='shishou' name='shishou' onblur="js1{$rand_str}()" onchange="js1{$rand_str}()"  readonly size='10'  value='0' >元</td></tr>
<Tr><Td><label  class='control-label x85'>找零金额:</label><input type='text' id='zhaoling' name='zhaoling' readonly size='10'  value='0'  >元</td></tr>
<!--<Tr><Td><label  class='control-label x85'>备注说明:</label><input type='text' id='title' name='title'  size='20'  value=''  ></td></tr>-->
<Tr><Td><label  class='control-label x85'>是否挂单:</label><input type='radio'  name='guadan'  checked  data-toggle='icheck'  data-label='马上结算' value='0'  >  &nbsp;&nbsp;<input type='radio'  name='guadan'   data-toggle='icheck'  data-label='暂不结算，挂单' value='1'  ></td></tr>
</table>
</td>


<td width="70%" valign="top">
<table class="table table-bordered table-hover table-striped"   data-toggle="tabledit">
 <thead>
                    <tr> 
                        <th title="序号" ><input type="text"  size="5" name="mid[#index#].mid" onblur="js('#index#')"  placeholder="序号"></th>
                        <th title="商品编号"><input type="text" name="xbianhao[#index#]" id="index[#index#].bianhao"  type="text"  value="" onblur="js{$rand_str}('#index#')" size="10" data-toggle="lookup" data-url='__MODULE__/Basic/sale/zhekou/{$zhekou}/navTabId/{:CONTROLLER_NAME}' data-group="index[#index#]" ></th>
                        <th title="商品名称"><input type="text" name="xtitle[#index#]" id="index[#index#].title" type="text"  value="" size="10" onblur="js{$rand_str}('#index#')"  ></th>
						<th title="销售单价"><input type="text" name="xjiage[#index#]"  id="index[#index#].xjiage"  onblur="js{$rand_str}('#index#')" size="10" value=""></th>
						<th title="折后单价"><input type="text" name="zjiage[#index#]"  id="index[#index#].zjiage" onblur="js{$rand_str}('#index#')" size="10" value=""></th>
						<th title="数量"><input type="text" name="xshuliang[#index#]" size="10" id="num#index#" onblur="js{$rand_str}('#index#')" value="0" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></th>
						<th title="小计"><input type="text" name="jsxiaoji[#index#]"  id="jsxiaoji#index#" onblur="js{$rand_str}('#index#')" size="10" value=""></th>
						<th title="获得积分"><input type="text" name="jifen[#index#]"  id="jifen#index#" size="10" value="" onblur="js('#index#')"></th>
						<th title="提成员工"><input type="hidden" name="juid[#index#]" id="index[#index#].juid"  size="10" value="" ><input type="text" name="juname[#index#]" id="index[#index#].juname" size="10" onblur="js{$rand_str}('#index#')" value=""  data-toggle="lookup" data-url='__MODULE__/Basic/user/navTabId/{:CONTROLLER_NAME}' data-group="index[#index#]"></th>
						<th title="" data-addtool="true" width="50">
                            <a href="__MODULE__/public/delok" class="btn btn-red row-del" data-confirm-msg="确定要删除该行信息吗？">删</a>
                        </th>
                    </tr>
                </thead>

                <tbody>
<php>$list = M('xiaofeis')->where(array("xid"=>I('did')))->select();</php>
<volist id="v" name="list">
<tr>
<td>{$v.id}</td>
<td>{$v.bianhao}</td>
<td>{$v.title}</td>
<td>{$v.xjiage}</td>
<td>{$v.zjiage}</td>
<td>{$v.shuliang}</td>
<td>{$v.xiaoji}</td>
<td>{$v.jifen}</td>
<td>{$v.juname}</td>
<td>--</td>
</tr>
 </volist>
 
                </tbody>
</table>
</td></tr>
</table>
<php>}</php>
 </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>