
<div class="bjui-pageContent tableContent"><php>$rand_str=mt_rand(1000,9999);</php>
<form action="__URL__/sankeok/navTabId/{:CONTROLLER_NAME}" class="pageForm" name="form{$rand_str}" id="form{$rand_str}" data-toggle="validate">

<table class="table table-bordered table-hover table-striped" >


<Tr><Td colspan=2 style="font-size:20px;line-height:40px;text-align:center">商品消费(散客)</td></tr>
</table>
<script type="text/javascript">
 function js(a)
 {
 document.getElementById("xiaoji"+a).value=document.getElementById("num"+a).value*document.getElementById("index["+a+"].zjiage").value;
 document.getElementById("jifen"+a).value=0; 
 var a1=document.getElementById("num"+a).value;
 var a2=document.getElementById("index["+a+"].kucun").value;
 if(parseFloat(a1)>parseFloat(a2)){
  document.getElementById("num"+a).value=document.getElementById("index["+a+"].kucun").value;
 }
 var count = 0;
                // 遍历所有文本框
                var list = document.getElementsByTagName("input");
                for(var i = 0; i < list.length; i++) {
                    var name = list[i].getAttribute("name");
                    // 忽略不是xiaoji开头的
                    if (!/^xiaoji/.test(name)) continue;
                    var num = parseFloat(list[i].value);
                    // 如果不是数字则忽略
                    if (isNaN(num)) continue;
                    count += num;
                }
  document.getElementById("jine{$rand_str}").value = count;
  return js1();
 return js1();
 } 
 function js1(){
 var e1=document.getElementById("xianjin{$rand_str}").value;
 var e2=document.getElementById("pos{$rand_str}").value;
 var e3=document.getElementById("shishou{$rand_str}").value;
 var e4=document.getElementById("jine{$rand_str}").value;
 var e6=document.getElementById("jian{$rand_str}").value;
 document.getElementById("shishou{$rand_str}").value=parseFloat(e1)+parseFloat(e2)+parseFloat(e6); 
  document.getElementById("zhaoling{$rand_str}").value=parseFloat(e3)-parseFloat(e4);
 }
 </script>
<table class="table table-bordered table-hover table-striped" >
<Tr><Td width="30%">
<Table width="100%">
<Tr><Td><label  class='control-label x85'>应付金额:</label><input type='text' id='jine{$rand_str}' name='jine' readonly size='10'  value='0'  >元</td></tr>
<Tr><Td><label  class='control-label x85'>优惠抹零:</label><input type='text' id='jian{$rand_str}' name='jian'  size='10' onblur="js1()" onchange="js1{$rand_str}()"  value='0'  data-rule='required;number'>元  如果使用优惠券等，填写此项</td></tr>
<Tr><Td><label  class='control-label x85'>现金支付:</label><input type='text' id='xianjin{$rand_str}' name='xianjin'  size='10' onblur="js1()" onchange="js1()"  value='0' data-rule='required;number' >元,如果用现金结算，填写此项</td></tr>
<Tr><Td><label  class='control-label x85'>银联支付:</label><input type='text' id='pos{$rand_str}' name='pos'  size='10' onblur="js1()" onchange="js1()"  value='0' data-rule='required;number'>元 如果用银联结算，填写此项</td></tr>
<Tr><Td><label  class='control-label x85'>实际收款:</label><input type='text' id='shishou{$rand_str}' name='shishou' onblur="js1()" onchange="js1()"  readonly size='10'  value='0' >元</td></tr>
<Tr><Td><label  class='control-label x85'>找零金额:</label><input type='text' id='zhaoling{$rand_str}' name='zhaoling' readonly size='10'  value='0'  >元</td></tr>
<!--<Tr><Td><label  class='control-label x85'>备注说明:</label><input type='text' id='title' name='title'  size='20'  value=''  ></td></tr>-->
</table>
</td>

<td width="70%" valign="top">
<table class="table table-bordered table-hover table-striped"   data-toggle="tabledit">
 <thead>
                    <tr> 
                        <th title="序号" ><input type="text"  size="5" value="#index#" onblur="js('#index#')"  placeholder="序号"></th>
                        <th title="商品编号"><input type="text" name="xbianhao[#index#]" id="index[#index#].bianhao"  type="text"  value="" onblur="js('#index#')" size="10" data-toggle="lookup" data-url='__MODULE__/Basic/sale/zhekou/100/navTabId/{:CONTROLLER_NAME}' data-group="index[#index#]" ></th>
                        <th title="商品名称"><input type="text" name="xtitle[#index#]" id="index[#index#].title" type="text"  value="" size="10" onblur="js('#index#')"  ></th>
						<th title="销售单价"><input type="text" name="xjiage[#index#]"  id="index[#index#].xjiage"  onblur="js('#index#')" size="10" value=""></th>
						<th title="折后单价"><input type="text" name="zjiage[#index#]"  id="index[#index#].zjiage"  onblur="js('#index#')" size="10" value=""></th>
						<th title="数量"><input type="text" name="xshuliang[#index#]" size="10" id="num#index#" onblur="js('#index#')" value="0" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"><input type="hidden" name="xkucun[#index#]"  id="index[#index#].kucun"  ></th>
						<th title="小计"><input type="text" name="xiaoji[#index#]"  id="xiaoji#index#" onblur="js('#index#')" size="10" value=""></th>
						<th title="获得积分"><input type="text" name="jifen[#index#]"  id="jifen#index#" size="10" value="" onblur="js('#index#')"></th>
						<th title="提成员工"><input type="hidden" name="juid[#index#]" id="index[#index#].juid"  size="10" value="" ><input type="text" name="juname[#index#]" id="index[#index#].juname" size="10" onblur="js('#index#')" value=""  data-toggle="lookup" data-url='__MODULE__/Basic/user/navTabId/{:CONTROLLER_NAME}' data-group="index[#index#]"></th>
						<th title="" data-addtool="true" width="50">
                            <a href="__MODULE__/public/delok" class="btn btn-red row-del" data-confirm-msg="确定要删除该行信息吗？">删</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
			  
                </tbody>
</table>
</td></tr>
</table>

 </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>