<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$Think.config.WEB_SITE_TITLE} Power by 连云港信友科技有限公司 服务热线：400-000-9981</title>
<meta name="Keywords" content="连云港信友科技有限公司 服务热线：400-000-9981"/>
<meta name="Description" content="连云港信友科技有限公司 服务热线：400-000-9981"/> 
<!-- bootstrap - css -->
<link href="__PUBLIC__/BJUI/themes/css/bootstrap.min.css" rel="stylesheet">
<script src="__PUBLIC__/BJUI/js/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/BJUI/js/jquery.PrintArea.js"></script>
</head>
<body>
<!-- core - css -->
<div class="container min_width1300"  id="printArea" >
          <table border="0"  width="100%" style="font-size:14px;">
           <tbody>
		   <Tr><td style="text-align:Center"><h3>{$Rs.shopid|get_shop_name=###}出库单</h3></td></tr>
		   <tr><td style="text-align:Center">单号：{$Rs.number}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;去处:{$Rs.bianhao} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 出库时间:{$Rs.shijian|substr=###,0,10}</td></tr>
           </tbody>
          </table>
		  <table border="1"  width="100%" style="font-size:14px;line-height:200%">
                <thead>
                    <tr>
                        <th width=50>序号</th>
                        <th>产品编号</th>
                        <th>产品名称</th>
						<th>产品大类</th>
						<th>产品分类</th>
                        <th>产品规格</th>
						<th>计量单位</th>
						<th>数量</th>
						<th width=200>备注</th>
                    </tr>
                </thead>
                <tbody>
				  <php>$xlist=M('chukus')->where(array('xid'=>I('id')))->select();</php>
				  <foreach name='xlist' item='xv'><tr><td>{$key+1}</td>
<td>{$xv.bianhao}</td>
<td>{$xv.title}</td>
<td>{$xv.dalei}</td>
<td>{$xv.fenlei}</td>
<td>{$xv.type}</td>
<td>{$xv.danwei}</td>
<td>{$xv.shuliang}</td>
<Td>{$xv.beizhu}</td>
</tr>
</foreach>
<Tr><td colspan="7" align="right"><B>合计</b></td><td><B>{$Rs.shuliang}</b></td><td></td></tr>

                </tbody>
            </table>
			<table border="0"  width="100%" style="font-size:14px;">
           <tbody>
<tr><td style="text-align:Center">
审核人:{$Rs.shenheren}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
经办人:{$Rs.jingban}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
添加人:{$Rs.uname}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
添加时间:{$Rs.addtime}
</td></tr>
           </tbody>
          </table>
</div>
<div style="text-align:center;margin-top:50px;">
		<button type="button" id="print_btn" class="btn btn-primary">打印</button>&nbsp;
		<button type="button" onclick="javascript:window.close();" class="btn">关闭</button>
	   </div>
<script type="text/javascript">
/**
 * 打印
 **/
$('#print_btn').click(function(){
	$('#printArea').printArea();
	$(this).html('加载中 ...');
	setTimeout("$('#print_btn').html('打印');",1200);
});
</script>
 </body>
</html>