<div class="bjui-pageContent tableContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='phone_input' class='control-label x85'>手机号码:</label>{$Rs.phone}</td></tr>
<tr><td><label for='content_input' class='control-label x85'>发送内容:</label>{$Rs.content}</td><td><label for='jieguo_input' class='control-label x85'>发送结果:</label>{$Rs.jieguo}</td></tr>
<tr><td><label for='url_input' class='control-label x85'>发送网址:</label>{$Rs.url}</td><td><label for='ip_input' class='control-label x85'>来源IP:</label>{$Rs.ip}</td></tr>
<tr><td><label for='uname_input' class='control-label x85'>操作人:</label>{$Rs.uname}</td><td><label for='addtime_input' class='control-label x85'>发送时间:</label>{$Rs.addtime}</td></tr>
<tr>
           </tbody>
          </table>
        </div>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>