<div class="bjui-pageContent tableContent">
    <form action="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
			<tr><td>
                <label for="j_name" class="control-label x85">上级菜单：</label><select  name="pid" data-toggle="selectpicker" data-rule="required">
               <option  value="0">顶级</option>
	          <foreach name="list" item="v">
              <option <if condition="$v.id EQ $Rs['pid'] ">selected value="{$Rs['pid']}" <else/>value="{$v.id}"</if> >
	          <switch name="v.level">  <case value="0">+</case> <case value="1">+--</case><case value="2">+------</case><default /></switch>
	           {$v.catename} <if condition="$v.status EQ 1 "><else/><font color=red>[未启用]</font></if>
	         </option>
             </foreach>
             </select>
            </td><td>
                <label for="j_sort" class="control-label x85">排序：</label>
                <input type="text" size="5" data-toggle="spinner" data-min="0" data-max="100" data-step="1" data-rule="integer" name="sort" id="j_sort" value="{$Rs['sort']}" >
            </td></tr>
<tr><td><label for='catename_input' class='control-label x85'>菜单名称:</label><input type='text' id='catename' name='catename'  size='20'   value='{$Rs.catename}'  ></td><td><label for='type_input' class='control-label x85'>菜单类型:</label><volist name='Think.config.WMENU_TYPE' id='type'><input type='radio'  name='type' data-toggle='icheck'  data-label='{$type}' value='{$type}' <if condition=" $type EQ $Rs['type'] " >checked data-rule='checked'</if> ></volist></td></tr>
<Tr><Td colspan=2 style="Text-align:center;color:#ff0000"><h5>选择跳转网址时填写</h5></td></tr>
<tr><td colspan=2><label for='alink_input' class='control-label x85'>跳转网址:</label><input type='text' id='alink' name='alink'  size='20'   value='{$Rs.alink}'  ></td></tr>
<Tr><Td colspan=2 style="Text-align:center;color:blue"><h5>选择返回文字时填写</h5></td></tr>
<tr><td colspan=2><label for='text_input' class='control-label x85'>返回文字:</label><textarea name='text'  cols='65' rows='5' >{$Rs.text}</textarea></td></tr></tr>
<Tr><Td colspan=2 style="Text-align:center;color:#black"><h5>选择返回图文填写</h5></td></tr>
<tr><td colspan=2><label for='biaoti_input' class='control-label x85'>图文标题:</label><input type='text' id='biaoti' name='biaoti'  size='20'   value='{$Rs.biaoti}'  ></td></tr>
<tr><td colspan=2><label for='pic_input' class='control-label x85'>图文图片:</label><div style='display: inline-block; vertical-align: middle;'><IFRAME   src='__MODULE__/Public/attfile/attid/{$attid}/'  frameBorder=0 width='100%' height='30' scrolling=no ></IFRAME><input type='hidden' id='pic' name='pic'  value='{$attid}'  ><a href='__MODULE__/Public/uploads/attid/{$attid}/'   class='btn btn-green btn-sm' data-toggle='dialog' data-width='550' data-height='300' data-id='dialog-normal' data-mask='true' >已上传文件管理</a></div></td></tr>
<tr><td colspan=2><label for='jianjie_input' class='control-label x85'>图文简介:</label><textarea name='jianjie'  cols='65' rows='5' >{$Rs.jianjie}</textarea></td></tr></tr>
<tr><td><label for='url_input' class='control-label x85'>图文网址:</label><input type='text' id='url' name='url'  size='20'   value='{$Rs.url}'  ></td></tr>
           </tbody>
          </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>