<div class="bjui-pageContent tableContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='level_input' class='control-label x85'>级别:</label>{$Rs.level}</td></tr>
<tr><td><label for='pid_input' class='control-label x85'>上级ID:</label>{$Rs.pid}</td><td><label for='catename_input' class='control-label x85'>菜单名称:</label>{$Rs.catename}</td></tr>
<tr><td><label for='type_input' class='control-label x85'>菜单类型:</label>{$Rs.type}</td><td><label for='alink_input' class='control-label x85'>跳转网址:</label>{$Rs.alink}</td></tr>
<tr><td><label for='sort_input' class='control-label x85'>排序:</label>{$Rs.sort}</td><td><label for='uname_input' class='control-label x85'>添加人:</label>{$Rs.uname}</td></tr>
<tr><td><label for='addtime_input' class='control-label x85'>添加时间:</label>{$Rs.addtime}</td><td><label for='uuname_input' class='control-label x85'>更新人:</label>{$Rs.uuname}</td></tr>
<tr><td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td>
           </tbody>
          </table>
        </div>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>