<div class="bjui-pageHeader">
<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
	
	<input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
	 
        <div class="bjui-searchBar" style="height:80px;line-height:80px;font-size:18px;">
            请输入卡号/联系电话：<input type="text" value="{$_REQUEST['keys']}" name="keys" class="form-control" size="20" />
             <button type="submit"  class="btn-default" data-icon="search">查询</button>
              <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
		</div> 
</form>
    
</div>
<div class="bjui-pageContent tableContent"><php>$rand_str=mt_rand(1000,9999);</php>
<form action="__URL__/chongzhi/navTabId/{:CONTROLLER_NAME}" class="pageForm" name="form{$rand_str}" id="form{$rand_str}" data-toggle="validate">
<input type="hidden" name="id" value="{$Rs.id}">
<input type="hidden" name="kahao" value="{$Rs.kahao}">
<input type="hidden" name="juid" value="{$Rs.juid}">
<input type="hidden" name="juname" value="{$Rs.juname}">
<php>if(!$Rs['shopid']){echo '<Tr><Td colspan=2>对不起，没有查找该会员</td></tr>'; }else{</php>
<table data-toggle="tablefixed" data-width="100%" data-layout-h="0" data-nowrap="true">
<tr><td><label for='shopid_input' class='control-label x85'>所属店铺:</label>{$Rs.shopid|get_shop_name=###}</td><td><label for='kahao_input' class='control-label x85'>卡号:</label>{$Rs.kahao}</td></tr>
<tr><td><label for='xingming_input' class='control-label x85'>姓名:</label>{$Rs.xingming}</td><td><label for='sex_input' class='control-label x85'>性别:</label>{$Rs.sex}</td></tr>
<tr><td><label for='dianhua_input' class='control-label x85'>联系电话:</label>{$Rs.dianhua}</td><td><label for='dengji_input' class='control-label x85'>会员等级:</label>{$Rs.dengji}</td></tr>
<tr><td><label for='sfz_input' class='control-label x85'>身份证号:</label>{$Rs.sfz}</td><td><label for='shengri_input' class='control-label x85'>会员生日:</label>{$Rs.shengri}</td></tr>
<tr><td><label for='dizhi_input' class='control-label x85'>联系地址:</label>{$Rs.dizhi}</td><td><label for='zhuangtai_input' class='control-label x85'>会员状态:</label>{$Rs.zhuangtai}</td></tr>
<tr><td><label for='jifen_input' class='control-label x85'>会员积分:</label>{$Rs.jifen}</td><td><label for='jine_input' class='control-label x85'>会员余额:</label>{$Rs.jine}</td></tr>
<tr><td><label for='jici_input' class='control-label x85'>计次:</label>{$Rs.jici}</td><td><label for='jztime_input' class='control-label x85'>过期时间:</label>{$Rs.jztime}</td></tr>
<tr><td><label for='tjr_input' class='control-label x85'>推荐人卡号:</label>{$Rs.tjr}</td><td><label for='juname_input' class='control-label x85'>业务员:</label>{$Rs.juname}</td></tr>
<tr><td><label for='tjr_input' class='control-label x85'>办卡时间:</label>{$Rs.addtime}</td><td><label for='juname_input' class='control-label x85'>办卡人:</label>{$Rs.uname}</td></tr>
<script type="text/javascript">
 function js()
 {
 var e1=document.getElementById("xianjin{$rand_str}").value;
 var e2=document.getElementById("pos{$rand_str}").value;
 var e3=document.getElementById("song{$rand_str}").value;
 document.getElementById("jine{$rand_str}").value=parseInt(e1)+parseInt(e2)+parseInt(e3); 
 }  
 </script>
<Tr><Td colspan=2 style="font-size:20px;line-height:40px;">充值信息</td></tr>
<Tr><Td colspan=2><label  class='control-label x85'>现金金额:</label><input type='text' id='xianjin{$rand_str}' name='xianjin'  size='10' onblur="js()" value='0' onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" >元,如果用现金充值，填写此项</td></tr>
<Tr><Td colspan=2><label  class='control-label x85'>银联金额:</label><input type='text' id='pos{$rand_str}' name='pos'  size='10' onblur="js()" value='0' onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" >元 如果用银联充值，填写此项</td></tr>
<Tr><Td colspan=2><label  class='control-label x85'>赠送金额:</label><input type='text' id='song{$rand_str}' name='song'  size='10' onblur="js()" value='0'  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">元</td></tr>
<Tr><Td colspan=2><label  class='control-label x85'>合计充值:</label><input type='text' id='jine{$rand_str}' name='jine' readonly size='10'  value='0'  >元</td></tr>
<!--<Tr><Td><label  class='control-label x85'>备注说明:</label><input type='text' id='title' name='title'  size='20'  value=''  ></td></tr>-->
 </table><php>}</php>
 </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>