<div class="bjui-pageContent tableContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='shopid_input' class='control-label x85'>所在店铺:</label>{$Rs.shopid|get_shop_name=###}</td></tr>
<tr><td><label for='xid_input' class='control-label x85'>订单ID:</label>{$Rs.xid}</td><td><label for='danhao_input' class='control-label x85'>消费单号:</label>{$Rs.danhao}</td></tr>
<tr><td><label for='bianhao_input' class='control-label x85'>商品编号:</label>{$Rs.bianhao}</td><td><label for='title_input' class='control-label x85'>商品名称:</label>{$Rs.title}</td></tr>
<tr><td><label for='xjiage_input' class='control-label x85'>销售价格:</label>{$Rs.xjiage}</td><td><label for='zjiage_input' class='control-label x85'>折后价格:</label>{$Rs.zjiage}</td></tr>
<tr><td><label for='shuliang_input' class='control-label x85'>购买数量:</label>{$Rs.shuliang}</td><td><label for='xiaoji_input' class='control-label x85'>小计:</label>{$Rs.xiaoji}</td></tr>
<tr><td><label for='jifen_input' class='control-label x85'>获得积分:</label>{$Rs.jifen}</td><td><label for='juname_input' class='control-label x85'>提成员工:</label>{$Rs.juname}</td></tr>
<tr><td><label for='zhuangtai_input' class='control-label x85'>订单状态:</label>{$Rs.zhuangtai}</td><td><label for='edit_input' class='control-label x85'>是否编辑:</label>{$Rs.edit}</td></tr>
<tr><td><label for='uname_input' class='control-label x85'>添加人:</label>{$Rs.uname}</td><td><label for='addtime_input' class='control-label x85'>添加时间:</label>{$Rs.addtime}</td></tr>
<tr>
           </tbody>
          </table>
        </div>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>